@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Recoleta";
    src: url(/src/assets/fonts/Recoleta-Bold.ttf);
  }
}

.ovale {
  width: 300px;
  height: 90px;
  -webkit-border-radius: 160px / 100px;
  -moz-border-radius: 160px / 100px;
  border-radius: 150px / 45px;
  position: relative;
  background-color: #f5bf07;
  color: #140200;
  font-size: 1.5rem;
  line-height: 2rem;
  border-bottom: 2px solid #140200;
  -webkit-box-shadow: 0px 5px 0px 0px #fff;
  box-shadow: 0px 5px 0px 0px #fff;
}

.circle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  position: absolute;
  top: 5px;
  padding: 0 10rem;
}

.circle :nth-child(1) {
  position: relative;
  transform: rotate(-14deg);
  top: 65px;
}

.circle :nth-child(2) {
  position: relative;
  transform: rotate(-6deg);
  top: 25px;
}

.circle :nth-child(3) {
  position: relative;
  transform: rotate(-2deg);
  top: 5px;
}

.circle :nth-child(4) {
  position: relative;
  transform: rotate(0deg);
  top: 0px;
}

.circle :nth-child(5) {
  position: relative;
  transform: rotate(2deg);
  top: 5px;
}

.circle :nth-child(6) {
  position: relative;
  transform: rotate(6deg);
  top: 25px;
}

.circle :nth-child(7) {
  position: relative;
  transform: rotate(14deg);
  top: 66px;
}

/***** Custom Scrollbar *****/
* {
  scrollbar-width: thin;
  scrollbar-color: #361a0c #f5bf07;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #101720;
}

*::-webkit-scrollbar-track:hover {
  background-color: #101720;
}

*::-webkit-scrollbar-track:active {
  background-color: #101720;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f5bf07;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f5bf07;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f5bf07;
}

.shadow2 {
  -webkit-box-shadow: 0px 0px 0px 10px #ff2ff8;
  box-shadow: 0px 0px 0px 10px #ff2ff8;
}
