@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Recoleta";
    src: url(/src/assets/fonts/Recoleta-Bold.ttf);
  }
}

.ovale {
  width: 300px;
  height: 90px;
  -webkit-border-radius: 160px / 100px;
  -moz-border-radius: 160px / 100px;
  border-radius: 150px / 45px;
  position: relative;
  background-color: #f5bf07;
  color: #140200;
  font-size: 1.5rem;
  line-height: 2rem;
  border-bottom: 2px solid #140200;

  &::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 90px;
    -webkit-border-radius: 160px / 100px;
    -moz-border-radius: 160px / 100px;
    border-radius: 150px / 45px;
    background: #fff;
    top: 4px;
    left: 0;
    z-index: -1;
  }
}

.circle {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  position: absolute;
  top: 5px;
}

.circle :nth-child(1) {
  position: relative;
  transform: rotate(-12deg);
  top: 50px;
}

.circle :nth-child(2) {
  position: relative;
  transform: rotate(-6deg);
  top: 20px;
}

.circle :nth-child(3) {
  position: relative;
  transform: rotate(-2deg);
  top: 5px;
}

.circle :nth-child(4) {
  position: relative;
  transform: rotate(0deg);
  top: 0px;
}

.circle :nth-child(5) {
  position: relative;
  transform: rotate(2deg);
  top: 5px;
}

.circle :nth-child(6) {
  position: relative;
  transform: rotate(6deg);
  top: 20px;
}

.circle :nth-child(7) {
  position: relative;
  transform: rotate(12deg);
  top: 50px;
}
